#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 5rem;
    background-color: #ffffff;
    text-align: center;
}

#contact header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 3rem;
    max-width: 45rem;
}

#contact header .subtitle {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 0.9rem;
}

#contact header h2 {
    color: #212529;
    font-size: 2.5rem;
    font-weight: 800;
}

#contact header p {
    color: #868e96;
    font-size: 1rem;
    line-height: 1.6;
}

.contact-content {
    width: 100%;
    max-width: 45rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 1.2rem;
    border: 1px solid #e9ecef;
    border-radius: 0.4rem;
    background-color: #f8f9fa;
    color: #495057;
    font-family: inherit;
    font-size: 1rem;
    outline: none;
    transition: all 0.3s ease;
}

.input-group input::placeholder,
.input-group textarea::placeholder {
    color: #adb5bd;
}

.input-group input:focus,
.input-group textarea:focus {
    border-color: --primary-color;
    background-color: #ffffff;
}

.input-group textarea {
    resize: vertical;
    min-height: 80px;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.btn-container button {
    background-color: --primary-color;
    padding-inline: 3rem;
}

.btn-container button:hover {
    background-color: --secondary-color;
}